Repository MCDReforged/PluginCatalogue, pull requests merged in 2024-09, with the labels that each got.

#386 doc: 添加贡献指南
  .github/pull_request_template.md
  CONTRIBUTING.md
  CONTRIBUTING_cn.md
  readme.md
  readme_cn.md
Labels: documentation

#383 feat?: do not raise on initialize fails
  scripts/plugin/plugin_list.py
Labels: scripts

#396 add introduction for @zyxkad plugins
  plugins/delayexe/plugin_info.json
  plugins/kpi/plugin_info.json
  plugins/loginproxy/plugin_info.json
  plugins/smart_backup/plugin_info.json
  plugins/smart_servertime/plugin_info.json
  plugins/tpm/plugin_info.json
Labels: plugins

#402 Add Plugin TimeQuery
  plugins/time_query/plugin_info.json
Labels: plugins

#394 feat(doc): 对贡献指南的一些修改
  CONTRIBUTING.md
  CONTRIBUTING_cn.md
Labels: documentation

#408 Add plugin signal_container
  plugins/signal_container/introduction-zh_cn.md
  plugins/signal_container/introduction.md
  plugins/signal_container/plugin_info.json
Labels: plugins

#405 Add plugin SSHClient
  plugins/sshclient/plugin_info.json
Labels: plugins

#410 feat: :sparkles: add new plugin `whitelist_api`
  plugins/whitelist_api/plugin_info.json
Labels: plugins

#412 Add plugin IPLocation | 添加插件IPLocation
  plugins/iploc/plugin_info.json
Labels: plugins

#414 Revert "Add plugin IPLocation | 添加插件IPLocation"
  plugins/iploc/plugin_info.json
Labels: plugins

#411 fix(meta): fix introduction for old plugins
  plugins/beep/plugin_info.json
  plugins/carpet_tick/plugin_info.json
  plugins/crash_restart/plugin_info.json
  plugins/diamond_calc/plugin_info.json
  plugins/easy_bot_manager/plugin_info.json
  plugins/fbs_plugin/plugin_info.json
  plugins/here/plugin_info.json
  plugins/homo_calculator/plugin_info.json
  plugins/join_motd/plugin_info.json
  plugins/join_motd_next/plugin_info.json
  plugins/ledger_cleaner/plugin_info.json
  plugins/location_marker/plugin_info.json
  plugins/mc_uuid/plugin_info.json
  plugins/mcdreforged_plugin_manager/plugin_info.json
  plugins/minecraft_version_api/plugin_info.json
  plugins/mirror_sync_reforged/plugin_info.json
  plugins/multi_rcon_api/plugin_info.json
  plugins/offline_whitelist/plugin_info.json
  plugins/onebot_api/plugin_info.json
  plugins/pcrc/plugin_info.json
  plugins/permanent_backup/plugin_info.json
  plugins/region_file_updater/plugin_info.json
  plugins/showshowway/plugin_info.json
  plugins/simple_calculator/plugin_info.json
  plugins/simple_op/plugin_info.json
  plugins/simple_translator/plugin_info.json
  plugins/vault_bot/plugin_info.json
  plugins/where_is/plugin_info.json
  plugins/ye_announcement/plugin_info.json
Labels: plugins
