Repository MCDReforged/PluginCatalogue, pull requests merged in 2025-05, with the labels that each got.

#511 更新 `Hat` 插件的 introduction
  plugins/hat/plugin_info.json
Labels: plugins

#509 feat: add welcome message for new contributers
  .github/workflows/scripts/check.py
  .github/workflows/scripts/gh_cli.py
Labels: github workflow

#510 添加 `securercon` 插件
  plugins/securercon/plugin_info.json
Labels: plugins

#517 添加插件 zhongbaisDataAPI
  plugins/zhongbais_data_api/plugin_info.json
Labels: plugins

#519 添加插件 `replay_helper`
  plugins/replay_helper/introduction-zh_cn.md
  plugins/replay_helper/plugin_info.json
Labels: plugins

#521 doc: 更新贡献指南，要求插件 ID 至少为 3 个字符
  CONTRIBUTING.md
  CONTRIBUTING_zh_cn.md
  CONTRIBUTING_zh_tw.md
Labels: documentation

#527 feat: add plugin AsyncRconClient(plugin_id: async_rcon)
  plugins/async_rcon/plugin_info.json
Labels: plugins
